.vpb-facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .vpb-fact {
        border-radius: 0.5rem;
        height: fit-content;

        &__long {

            .vpb-fact__content {
                max-height: 250px;
                overflow-y: hidden;
                mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) calc(100% - 1.5rem));
                padding-bottom: 1.5rem;
            }
        }
    }
}