.appeal-cta__form {

    &__fieldgroup {
        position: relative;

        &__text {
            border-bottom: 3px solid theme("colors.white");
            color: theme("colors.white");
            border-radius: 0;
            line-height: 1;
            padding: 1rem 0.5rem 0.5rem 0.5rem;
            width: 100%;
            @apply bg-transparent;

            &:focus {
                outline: none;
            }
        }

        &__label {
            position: absolute;
            top: -0.3rem;
            left: 0;
            font-size: 0.75rem;
            line-height: 1;
        }

        &--checkbox {
            display: flex;
            align-items: start;
            gap: 0.5rem;

            input {
                display: none;
            }

            .appeal-cta__form__fieldgroup__label {
                display: flex;
                column-gap: 0.5rem;
                position: relative;
                top: 0;
                left: 0;
                font-size: 1rem;

                a {
                    text-decoration: underline;
                }

                &:before {
                    flex-shrink: 0;
                    content: var(--checkbox-base64);
                    width: 1rem;
                    height: 1rem;
                    display: inline-block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;

                    --checkbox-base64: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI5LjYuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDIuMS4xIEJ1aWxkIDkpICAtLT4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLnN0MCB7CiAgICAgICAgZmlsbDogI2ZmZjsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBhdGggY2xhc3M9InN0MCIgZD0iTTMsMEMxLjM2LDAsMCwxLjM2LDAsM3YxMGMwLDEuNjQsMS4zNiwzLDMsM2gxMGMxLjY0LDAsMy0xLjM2LDMtM1YzYzAtMS42NC0xLjM2LTMtMy0zSDNaTTMsMmgxMGMuNTcsMCwxLC40MywxLDF2MTBjMCwuNTctLjQzLDEtMSwxSDNjLS41NywwLTEtLjQzLTEtMVYzYzAtLjU3LjQzLTEsMS0xWiIvPgo8L3N2Zz4=");

                }
            }

            input:checked+.appeal-cta__form__fieldgroup__label:before {
                --checkbox-base64: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBpZD0iRWJlbmVfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI5LjYuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDIuMS4xIEJ1aWxkIDkpICAtLT4KICA8ZGVmcz4KICAgIDxzdHlsZT4KICAgICAgLnN0MCB7CiAgICAgICAgZmlsbDogI2ZmZjsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHBhdGggY2xhc3M9InN0MCIgZD0iTTMsMEMxLjM2LDAsMCwxLjM2LDAsM3YxMGMwLDEuNjQsMS4zNiwzLDMsM2gxMGMxLjY0LDAsMy0xLjM2LDMtM1YzYzAtMS42NC0xLjM2LTMtMy0zSDNaTTMsMmgxMGMuNDIsMCwuNzcuMjMuOTIuNTlsLS42Ny43Ni02LjMsNy4yLTIuMjUtMi4yNWMtLjM5LS4zOS0xLjAyLS4zOS0xLjQxLDBzLS4zOSwxLjAzLDAsMS40MmwzLDNjLjQxLjQxLDEuMDguMzksMS40Ni0uMDVsNi4yNS03LjE0djcuNDhjMCwuNTctLjQzLDEtMSwxSDNjLS41NywwLTEtLjQzLTEtMVYzYzAtLjU3LjQzLTEsMS0xWiIvPgo8L3N2Zz4=");
            }

            &+& {
                margin-top: -1rem;
            }
        }

        &--alt {
            &__label {
                font-weight: bold;
                font-size: 1.25rem;
            }

            &__text {
                font-size: 2rem;
                font-weight: 700;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid theme("colors.white");
                width: fit-content;
                padding: 0 0.5rem;
                text-align: center;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    ::placeholder {
        color: theme("colors.white") !important;
        opacity: 0.5 !important;
        font-style: italic;
    }
}

.appeal-cta {
    &__success {
        background-color: theme("colors.green.200");
        color: theme("colors.green.800");
        padding: 1rem;
        border-radius: 0.25rem;
        margin-top: 1rem;
        border: 2px solid theme("colors.green.800");
        font-weight: 700;
        font-size: 1.25rem;
    }
}
