.koref-timeline {

    &__event {
        position: relative;
        @apply grid grid-cols-10 gap-x-4;

        &+& {
            @apply mt-12;
        }

        &__line {
            position: absolute;
            top: 0.75rem;
            left: 0.35rem;
            width: 0.3rem;
            height: calc(100% + 3rem + 8px);
            background-color: theme('colors.accent');
        }
    }
}

.koref-timeline__event:last-of-type .koref-timeline__event__line {
    display: none;
}