html {
    background-color: theme("colors.background");
    color: theme("colors.foreground");
    scroll-behavior: smooth;
}

.petition__container {
    &--large {
        max-width: 1146px;
    }

    &--small {
        max-width: 944px;
    }

    @apply px-4 md:px-8 mx-auto;
}
