html {
    background-color: theme("colors.background");
    color: theme("colors.foreground");
    scroll-behavior: smooth;
}

.queer-container {
    max-width: 1000px;
    @apply mx-auto w-full px-4 sm:px-6 lg:px-8;

    &--large {
        max-width: 1548px;
    }
}

// Selection styles
::selection {
    @apply bg-highlight bg-opacity-100 text-secondary;
}
