.appeal-header {

    &__title {
        margin-top: 0.5em;
        margin-bottom: 0.7em;
        font-size: 5.5rem;
        line-height: 1.1;

        span {
            background-color: theme("colors.foreground");
            padding: .2em 0;
            color: theme("colors.background");
            -webkit-box-shadow: .2em 0 0 theme("colors.foreground") -.2em 0 0 theme("colors.foreground");
            box-shadow: .2em 0 0 theme("colors.foreground"), -.2em 0 0 theme("colors.foreground");
            -webkit-box-decoration-break: clone;
            -moz-box-decoration-break: clone;
            box-decoration-break: clone;
            display: inline-block;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
    }
}