@use "./fonts.scss";

html {
    font-size: clamp(15px, 1.041666666666667vw, 22px);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Anton", grotesk, sans-serif;
        text-transform: uppercase;
    }

    body {
        font-family: "Inter", sans-serif;
    }

    p+p {
        margin-top: 1em;
    }

    .koref-boxed {
        color: var(--koref-boxed-color, theme("colors.accent"));
        display: inline;
        background-image: linear-gradient(to right, var(--koref-boxed-bg, white) 10%, var(--koref-boxed-bg, white) 90%);
        background-position: bottom;
        box-shadow: .3em 0 0 var(--koref-boxed-bg, white), -.3em 0 0 var(--koref-boxed-bg, white);
        box-decoration-break: clone;
        hyphens: none;
        line-height: 1.25;
    }

    ::selection {
        background-color: var(--koref-selection-bg, theme("colors.highlight"));
        color: var(--koref-selection-color, theme("colors.accent"));
    }

    .bg-highlight {
        ::selection {
            background-color: var(--koref-bg-accent, theme("colors.accent"));
            color: var(--koref-color-accent, white);
        }
    }
}