@use "./fonts.scss";

html {
    font-size: clamp(15px, 1.041666666666667vw, 22px);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Carlito", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    body {
        font-family: "Carlito", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    p+p {
        margin-top: 1em;
    }

    ::selection {
        background-color: var(--vapkoselection-bg, theme("colors.vapkored"));
        color: var(--vapkoselection-color, theme("colors.white"));
    }

    .bg-highlight {
        ::selection {
            background-color: var(--vapkobg-accent, theme("colors.accent"));
            color: var(--vapkocolor-accent, white);
        }
    }

    .vapko-markdown {
        a {
            text-decoration: underline;
        }

        ul,
        ol {
            padding-left: 1em;
            margin-top: 0.5em;
            margin-bottom: 1em;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        li+li {
            margin-top: 0.5em;
        }
    }
}