@use "./fonts.scss";

html {
    font-size: clamp(15px, 1.041666666666667vw, 22px);

    body {
        font-family: "MaisonNeue", sans-serif;
        @apply text-lg md:text-xl;
    }

    p+p {
        margin-top: 1em;
    }
}
